body{
    background-color: rgb(220, 185, 185);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: minmax(10vh, auto) 80vh 10vh;
    padding: 10px;
}
.navegacion {
    background-color: rgb(34, 0, 52);
    padding: 10px;
    border-radius: 4px;
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: repeat(2, auto); 
    grid-column: 1/9; 
}
.contenido {
    background-color: rgb(170, 124, 202);
    padding: 20px;
    border-radius: 4px;
    grid-column: 1/8;
}
.sidebar {
    background-color: rgb(255, 109, 167);
    padding: 30px;
    border-radius: 4px;
    grid-column: 8;
}
.footer {
    background-color: rgb(151, 92, 255);
    border-radius:4px;
    bottom: 10px;
    grid-column: 1/9;
}
.logo{
    grid-row: 1/3;
    height: 80px;
    margin-left: 100px;
}
.titulo-pag{
    grid-column: 2/6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    color: pink;
    grid-row: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}
.menu-principal{
    grid-column: 2/5;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    margin-left: -40px;
    margin-bottom: 0px;
}
li > a {
	color: #c72087;
	text-decoration: none;
	padding-left: 40px;
    padding-right: 40px;
	display: flex;
	font-size: 20px;
}
.buscador{
    grid-column: 5/7;
    margin-top: 0px;
    margin-left: 80px;
}
.search{
}
.submit{
}
.pie-de-pag{
    margin: 20px;
}